//
   Created by Tiep's on 17-Mar-17.

doctype html
html
    head
        title "Trang co tham so"
    body
        //truyen bien
        h1 Khoa hoc: #{name}
        //truyen bien cach khac
        h2=name
        a(href=url) URL