html
    head
        title Tutorials
    body
        form(action="/tutorials", method="POST")
            div
                label(for="ten") Ten khoa:
                input(name="ten")
            br
            div
                label(for="chu_thich") Chu thich:
                input(name="chu_thich")
            br

            button(type="submit") Tao moi