html
    head
        title Sign Up
    body
        if (message)
            h4 #{message}
        form(action="/signup" method="post")
            input(name="id" type="text" required placeholder="User ID")
            input(name="password" type="password" required placeholder="Password")
            button(type="Submit") Sign me up!
